# Ignorar arquivos Python compilados e cache
*.pyc
__pycache__/

# Logs
*.log

# Arquivos temporários de editor
*.swp
*.swo

# Arquivos de ambiente
.env

# Pasta de ambiente virtual Python
odoo-venv/
venv/
.env/
.Python

# Dependências do Node.js
node_modules/

# Pastas e arquivos do Odoo core
odoo/
addons/
debian/
doc/
setup/

# Arquivos e pastas do sistema
.DS_Store
*.bak
*.zip
*.tar.gz

# Pastas de dados e sessões
filestore/
sessions/

# IDEs e configurações de editor
.idea/
.vscode/

# Outros arquivos desnecessários
*.egg-info/
*.pid
*.db
*.sqlite3
*.pyo
*.pyd

# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.github
!.mailmap
!.weblate.json
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance
# window installation config file
/odoo.conf

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
node_modules
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
